<section class="expertise">
    <div class="container">
    <span class="our-expertise">Our expertise</span>
    <h2 class="title-expertize">The best apartment in Dubai" we will find your dream</h2>
    <p class="p-text-expertise">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nibh massa, euismod ut libero id, blandit posuere augue. Morbi porta volutpat diam egestas ultrices. Phasellus tempus fringilla neque, nec viverra orci tristique vel. In efficitur vehicula magna, varius pellentesque nisl vehicula vel. Aenean vel sem ac elit commodo finibus in nec massa. Nulla facilisi. Nulla vestibulum venenatis sollicitudin. Etiam auctor mollis justo eu tincidunt. Aliquam varius varius tortor. Cras id venenatis sem. Quisque ut risus ex. Sed et tempor massa. Praesent ac eros hendrerit, congue justo ac, molestie urna. Fusce nec neque vitae dolor dapibus elementum. Maecenas nec orci quis sem condimentum dapibus varius a lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <video class="video-class" src="https://www.youtube.com/watch?v=tGKlj-g6dWY" poster="../img/placeholder-dubai-mobil.jpg"  controls autobuffer  ></video>
    <div class="box-expertise">
        <p class="box-p">“Don’t limit yourself. Many people limit themselves to what they think they can do. You can go as far as your mind lets you. What you believe, remember, you can achieve.” — Mary Kay Ash </p>
    </div>
</div>
</section>