<footer class="footer">
    <div class="container">

    <div class="footer-logo">
        <a href="#" class="logo-link-h">
            <svg 
            class="head-svg" width="30" heigth="49">
                  <use href="./img/javascript.svg#icon-Rectangle-14-1"></use>
                </svg>
                <span class="logo-span">
                DubaiRealty</span><span class="logo-span-h"> Real Estate</span></a>
    </div>
                  
                
                
<ul class="footer-ul">
                       
                    
                    
                    <li class="footer-li"><a class="footer-a" href="#">Buy</a>
                                                <ul class="footer-ul-text">
                                                <li class="footer-li-text"><a href="#">Apartment in Dubai</a></li>
                                                <li class="footer-li-text"><a href="#">House in Dubai</a></li>
                                                <li class="footer-li-text"><a href="#">Apartments in Dubai</a></li>
                                                <li class="footer-li-text"><a href="#">Loft in Dubai</a></li>
                                                <li class="footer-li-text"><a href="#">Penthouse in Dubai</a></li>
                                                <li class="footer-li-text"><a href="#">Villa in Dubai</a></li>
                                                </ul>
                        
                    <svg class="footer-svg-text" width="15" height="15"><use href="./img/javascript.svg#icon-Group-93-1"></use></svg>
                    </li>
                        
<hr class="footer-hr">


                     <li class="footer-li"><a class="footer-a" href="#">Services</a>
                                                <ul class="footer-ul-text">
                                                <li class="footer-li-text"><a href="#">Property management in Dubai, UAE</a></li>
                                                <li class="footer-li-text"><a href="#">Sell ​​property in Dubai, UAE</a></li>
                                                <li class="footer-li-text"><a href="#">Rent property in Dubai, UAE</a></li>
                                                <li class="footer-li-text"><a href="#">Investments in Dubai, UAE</a></li>
                                                <li class="footer-li-text"><a href="#">Real estate for cryptocurrency in Dubai</a></li>
                                                <li class="footer-li-text"><a href="#">Moving to Dubai, UAE</a></li>
                                                </ul>
                    <svg class="footer-svg-text" width="15" height="15"><use href="./img/javascript.svg#icon-Group-93-1"></use></svg>
                     </li>

<hr class="footer-hr">


                    
        
                
                    <li class="footer-li"><a class="footer-a" href="#">Information</a>
                                                <ul class="footer-ul-text">
                                                <li class="footer-li-text"><a href="#">Video</a></li>
                                                <li class="footer-li-text"><a href="#">Podcasts</a></li>
                                                <li class="footer-li-text"><a href="#">Laws</a></li>
                                                <li class="footer-li-text"><a href="#">Questions and answers</a></li>
                                                <li class="footer-li-text"><a href="#">Books</a></li>
                                                <li class="footer-li-text"><a href="#">Articles</a></li>
                                                </ul>   
                    <svg class="footer-svg-text" width="15" height="15"><use href="./img/javascript.svg#icon-Group-93-1"></use></svg>   
                    </li>   

<hr class="footer-hr">




                    <li class="footer-li"><a class="footer-a" href="#">About company</a>
                                                <ul class="footer-ul-text">
                                                <li class="footer-li-text"><a href="#">Jobs </a></li>
                                                <li class="footer-li-text"><a href="#">Story</a></li>
                                                <li class="footer-li-text"><a href="#">Licenses</a></li>
                                                <li class="footer-li-text"><a href="#">Why are we</a></li>
                                                <li class="footer-li-text"><a href="#">Real estate agency</a></li>
                                                </ul>
                     <svg class="footer-svg-text" width="15" height="15"><use href="./img/javascript.svg#icon-Group-93-1"></use></svg>
                    </li>

<hr class="footer-hr">





                    <li class="footer-li"><a class="footer-a" href="#">Contact</a>

                                                <ul class="footer-ul-text">
                                                <li class="footer-li-text"><a href="#">964 Worthington Drive
                                                Dubai, UAE</a></li>
                                                <li class="footer-li-text"><a href="#">dubairealty@mail.com</a></li>
                                                </ul>

                    </li>
                       
                </ul>

                <p class="footer-span">964 Worthington Drive<br>
                    Dubai, UAE</p>


                  <div class="footer-div-button">  
                <p class="footer-span-one">dubairealty@mail.com</p>


                    <button class="footer-button" type="button">
                        Book a consultation
                    </button>
                </div>

    <hr class="footer-hr-button">

    <div class="footer-div-one">
        <ul class="footer-ul-svg">
            <li class="footer-li-svg"><a  href="https://www.facebook.com/photo.php?fbid=6070271023014326&set=pcb.6070278903013538&type=3&theater" target="_blank"><svg class="footer-svg-icon" width="11" height="11"><use href="../img/javascript.svg#icon-facebook-1-1"></use></svg></a></li>
           <li class="footer-li-svg"><a  href="https://twitter.com/?lang=ru" target="_blank"><svg class="footer-svg-icon" width="11" height="11"><use href="./img/javascript.svg#icon-twitter-1-1"></use></svg></a></li>
            <li class="footer-li-svg"><a  href="https://www.youtube.com/" target="_blank"><svg class="footer-svg-icon" width="11" height="11"><use href="../img/javascript.svg#icon-youtube-1"></use></svg></a></li>
           <li class="footer-li-svg"><a  href="https://www.instagram.com/accounts/login/" target="_blank"><svg class="footer-svg-icon" width="11" height="11"><use href="../img/javascript.svg#icon-instagram-2-2-1"></use></svg></a></li>
           <li class="footer-li-svg"><a  href="https://ua.linkedin.com/" target="_blank"><svg class="footer-svg-icon" width="11" height="11"><use href="../img/javascript.svg#icon-linkedin-1-1"></use></svg></a></li>
        </ul>
        <p class="footer-p">Copyright &copy; 2022 Dubai Realty</p>

    </div>
    </div>
</footer>