<footer class="footer">
    <div class="container">
    <div class="footer-div-one">
        <p class="footer-p">Copyright © 2022 Dubai Realty</p>
        <ul class="footer-ul-svg">
            <li class="footer-li-svg"><a href="https://www.facebook.com/photo.php?fbid=6070271023014326&set=pcb.6070278903013538&type=3&theater"><svg><use href="../img/javascript.svg#icon-facebook-1-1"></use></svg></a></li>
           <li class="footer-li-svg"><a href="https://twitter.com/?lang=ru"></a><svg><use href="../img/javascript.svg#icon-twitter-1-1"></use></svg></a></li>
            <li class="footer-li-svg"><a href="https://www.youtube.com/"></a><svg><use href="../img/javascript.svg#icon-youtube-1"></use></svg></a></li>
           <li class="footer-li-svg"><a href="https://www.instagram.com/accounts/login/"></a><svg><use href="../img/javascript.svg#icon-instagram-2-2-1"></use></svg></a></li>
           <li class="footer-li-svg"><a href="https://ua.linkedin.com/"></a><svg><use href="../img/javascript.svg#icon-linkedin-1-1"></use></svg></a></li>
        </ul>
    </div>
</div>
</footer>