<header class="header">
  <div class="container">
    
      

    
<a href="#" class="logo-link-h">
  <svg 
  class="head-svg" width="30" heigth="49">
        <use href="./img/javascript.svg#icon-Rectangle-14-1"></use>
      </svg>
      <span class="logo-span">
      DubaiRealty</span><span class="logo-span-h"> Real Estate</span></a>
<nav class="header-nav">
  <ul class="list-link">
    <li><a href="">BUY</a></li>
    <li><a href="">BLOG</a></li>
    <li><a href="">ABOUT</a></li>
    <li><a href="">CONTACT</a></li>
  </ul>
</nav>
<button type="button" class="head-btn">Book a consultation</button>
<ul class="lang">
  <li class="link-head">EN</li>
  <li class="link-head">RU</li>
</ul>
<a class="tel" href="tel:+7(212)674-25-10">+7(212)674-25-10</a>
  </div>
  
</header>
