<header class="header">
  <div class="container">
    
      

    
<a href="#" class="logo-link-h">
  <svg 
  class="head-svg" width="30" heigth="49">
        <use href="./img/javascript.svg#icon-Rectangle-14-1"></use>
      </svg>
      <span class="logo-span">
      DubaiRealty</span><span class="logo-span-h"> Real Estate</span></a>
<nav class="header-nav">
  <ul class="list-link">
    <li class="nav-link"><a href="#">BUY</a>
    <ul class="header-menu">
      <li class="head-category"><a class="link-kategory" href="#">Category number one </a></li>
      <li class="head-category"><a class="link-kategory" href="#">Apartments in Dubai</a></li>
      <li class="head-category"><a class="link-kategory" href="#">Category number twenty five</a></li>
    </ul></li>
    <li class="nav-link"><a href="#">BLOG</a></li>
    <li class="nav-link"><a href="#">ABOUT</a></li>
    <li class="nav-link"><a href="#">CONTACT</a></li>
  </ul>
</nav>
<button type="button" class="head-btn">Book a consultation</button>
<ul class="lang">
  <li class="link-head">EN</li>
  <li class="link-head">RU</li>
</ul>
<a class="tel" href="tel:+7(212)674-25-10">+7(212)674-25-10</a>

<!-- mob.menu -->

 <button class="mobile-menu-open "
					data-menu-open
					type="button">
            <svg width="32" height="32" class="mobile-menu-open-icon">
            
                <use class="menu" href="../img/javascript.svg#burger-dlya-nikitu"></use>
                
            </svg>
        </button>
           
        <div class="mobile-menu " data-menu>
            <div class=" mobile-menu-container">
            <button class="mobile-menu-close-btn" data-menu-close>
                <svg class="mobile-menu-close-icon">
                    <use href="../img/javascript.svg#icon-close-mob-menu"></use>
                </svg>

            </button>
            <a href="#" class="logo-link-h">
  <svg 
  class="head-svg" width="30" heigth="49">
        <use href="./img/javascript.svg#icon-Rectangle-14-1"></use>
      </svg>
      <span class="logo-span">
      DubaiRealty</span><span class="logo-span-h"> Real Estate</span></a>


      <ul class="burg-list">
    <li class="nav-link-burg"><a href="#">BUY</a>
    <ul class="header-menu-burg">
      <li class="head-category"><a class="link-kategory" href="#">Category number one </a></li>
      <li class="head-category"><a class="link-kategory" href="#">Apartments in Dubai</a></li>
      <li class="head-category"><a class="link-kategory" href="#">Category number twenty five</a></li>
    </ul></li>
    <li class="nav-link-burg"><a href="#">BLOG</a></li>
    <li class="nav-link-burg"><a href="#">ABOUT</a></li>
    <li class="nav-link-burg"><a href="#">CONTACT</a></li>
  </ul>
  <div class="burg-contact">
  <button type="button" class="head-btn-burg">Book a consultation</button>
  <a class="tel-burg" href="tel:+7(212)674-25-10">+7(212)674-25-10</a>
    <ul class="lang-burg">
  <li class="link-head">EN</li>
  <li class="link-head">RU</li>
</ul>
  </div>
            </div>
             
            </div>
  </div>
  
</header>
