<section class="hero">
  <div class="container">
    <svg class="hero-svg" width="63" height="195">
      <use href="./img/javascript.svg#icon-Rectangle-14-2-1"></use>
    </svg>
    <p class="hero-text">Lorem ipsum</p>
    <h1 class="hero-h">Welcome home to luxury</h1>
    <p class="hero-text-t">Book a consultation</p>
    <svg class="hero-str" width="8" height="14">
        <use href="./img/javascript.svg#strelochka-dlya-nikitu"></use>
    </svg>
    <ul class="hero-list">
        <li>
            <p class="hero-p">PREV</p>
        </li>
        <li>
            <svg width="1" height="15">
                <use href="./img/javascript.svg#icon-Line-30-1"></use>
            </svg>
        </li>
        <li>
            <p class="hero-p">NEXT</p>
        </li>
    </ul>
    <ul class="hero-icons">
        <li class="hero-icn"><a href="">
            <svg class="hero-svg-icons" width="11" height="11">
                <use href="../img/javascript.svg#icon-facebook-1-1"></use>
            </svg></a>
        </li>
        <li class="hero-icn"><a href="">
            <svg class="hero-svg-icons" width="11" height="11">
                <use href="../img/javascript.svg#icon-twitter-1-1"></use>
            </svg></a>
        </li>
        <li class="hero-icn"><a href="">
            <svg class="hero-svg-icons" width="11" height="11">
                <use href="../img/javascript.svg#icon-youtube-1"></use>
            </svg></a>
        </li>
        <li class="hero-icn"><a href="">
            <svg class="hero-svg-icons" width="11" height="11">
                <use href="../img/javascript.svg#icon-instagram-2-2-1"></use>
            </svg></a>
        </li>
        <li class="hero-icn"><a href="">
            <svg class="hero-svg-icons" width="11" height="11">
                <use href="../img/javascript.svg#icon-linkedin-1-1 "></use>
            </svg></a>
        </li>
    </ul>
    <ul class="hero-lorem">
    <li class="lorem-li">
        <h2 class="hero-title-lorem">
            01
        </h2>
        <p class="hero-p-lorem">Lorem Ipsum
Dolorem apset</p>
    </li>
    <li class="lorem-li">
        <h2 class="hero-title-lorem">
            02
        </h2>
        <p class="hero-p-lorem">Lorem Ipsum
Dolorem apset</p>
    </li>
    <li class="lorem-li">
        <h2 class="hero-title-lorem">
            03
        </h2>
        <p class="hero-p-lorem">Lorem Ipsum
Dolorem apset</p>
    </li>
</ul>
  </div>
</section>
