<section class="lorem">
    <div class="container">
<ul class="list-lorem">
    <li>
        <h2 class="lorem-title">
            01
        </h2>
        <p class="lorem-p">Lorem Ipsum
Dolorem apset</p>
    </li>
    <li>
        <h2 class="lorem-title">
            02
        </h2>
        <p class="lorem-p">Lorem Ipsum
Dolorem apset</p>
    </li>
    <li>
        <h2 class="lorem-title">
            03
        </h2>
        <p class="lorem-p">Lorem Ipsum
Dolorem apset</p>
    </li>
</ul>
</div>
</section>