<section class="project">
    <div class="container">
        <div class="prj-tabl">
        <h2 class="prj-title">Latest projects</h2>
        <ul class="prj-list">
            <li><a class="prj-link" href="#">All</a></li>
            <li><a class="prj-link" href="#">Building</a></li>
            <li><a class="prj-link" href="#">Interior</a></li>
            <li><a class="prj-link ntn" href="#">View all projects</a></li>
        </ul>
        </div>
        <ul class="prj-photo">
            <li><img srcset="./img/vilas-mobil428x573.jpg 1x, ./img/vilas-mobil428x573@2x.jpg 2x" src="./img/vilas-mobil428x573.jpg" alt=""><p class="prj-p">Villas</p></li>
            <li><img srcset="./img/houses-mobil428x573.jpg 1x, ./img/houses-mobil428x573@2x.jpg 2x" src="./img/houses-mobil428x573.jpg" alt=""><p class="prj-p">Houses</p></li>
            <li><img srcset="./img/houses-mobil428x573.jpg 1x, ./img/houses-mobil428x573@2x.jpg 2x" src="./img/houses-mobil428x573.jpg" alt=""><p class="prj-p">Houses</p></li>
            <li><img srcset="./img/vilas-2-mobil428x573.jpg 1x, ./img/vilas-2-mobil428x573@2x.jpg 2x" src="./img/vilas-2-mobil428x573.jpg" alt=""><p class="prj-p">Villas</p></li>
        </ul>
        <ul class="prj-photo-tablet">
            <li><img srcset="./img/vilas-tablet428x573.jpg 1x , ./img/vilas-tablet428x573@2x.jpg 2x"
                    src="./img/vilas-tablet428x573.jpg" alt="" >
                <p class="prj-p">Villas</p>
            </li>
            <li><img srcset="./img/houses-tablet-428x573.jpg 1x, ./img/houses-tablet-428x573@2x.jpg 2x"
                    src="./img/houses-tablet-428x573.jpg" alt="">
                <p class="prj-p">Houses</p>
            </li>
            <li><img srcset="./img/houses-tablet-428x573.jpg 1x, ./img/houses-tablet-428x573@2x.jpg 2x"
                    src="./img/houses-tablet-428x573.jpg" alt="">
                <p class="prj-p">Houses</p>
            </li>
            <li><img srcset="./img/vilas-2-tablet428x573.jpg 1x, ./img/vils-2-tablet428x573@2x.jpg 2x"
                    src="./img/vilas-2-tablet428x573.jpg" alt="">
                <p class="prj-p">Villas</p>
            </li>
        </ul>
        <ul class="prj-photo-desk">
            <li><img srcset="./img/vilas-desctop428x573.jpg 1x , ./img/vilas-desctop428x573@2x.jpg 2x"
                    src="./img/vilas-desctop428x573.jpg" alt="">
                <p class="prj-p">Villas</p>
            </li>
            <li><img srcset="./img/houses-desctop428x573.jpg 1x, ./img/houses-desctop428x573@2x.jpg 2x"
                    src="./img/houses-desctop428x573.jpg" alt="">
                <p class="prj-p">Houses</p>
            </li>
            <li><img srcset="./img/houses-desctop428x573.jpg 1x, ./img/houses-desctop428x573@2x.jpg 2x"
                    src="./img/houses-desctop428x573.jpg" alt="">
                <p class="prj-p">Houses</p>
            </li>
            <li><img srcset="./img/vilas-2-desctop428x573.jpg 1x, ./img/vilas-2-desctop428x573@2x.jpg 2x"
                    src="./img/vilas-2-desctop428x573.jpg" alt="">
                <p class="prj-p">Villas</p>
            </li>
        </ul>
    </div>
</section>