<section class="reviews">
    <img
    class="reviews-photo"
    src="../img/Puol-desctop-about10 1.jpg"
    srcset="
      ../img/Puol-desctop-about10 1.jpg,
      ../img/Puol-desctop-about10 1@2x.jpg
    "
    alt="Puol"
    width="68"
    height="68"
  />
  <h3 class="reviews-name">Puol</h3>
  <p class="reviews-job">Owner in Paul.com</p>
  <p class="reviews-text">
    Projects for many large domestic and foreign corporations, enterprises in many elds such as nance, banking, F&B, education, communication.
</p>

  <img
  class="reviews-photo"
  src="../img/Robert-desctop-about10 1.jpg"
  srcset="
    ../img/Robert-desctop-about10 1.jpg,
    ../img/Robert-desctop-about10 1@2x.jpg
  "
  alt="Puol"
  width="68"
  height="68"
/>
<h3 class="reviews-name">Robert</h3>
  <p class="reviews-job">Founder in Apple inc.</p>
  <p class="reviews-text">
    Founded in 2007, Sparch is specializing in providing innovative services such as website design, brand identity and marketing
</p>
</section>