.our-expertise{
    color: var(--button-bg);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
}

.title-expertize{
    color: var(--text);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 10px;

}


.p-text-expertise{
    color: var(--text);
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 40px;
    
}


.video-class{
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 320px;
    margin-bottom: 40px;
}




.box-expertise{
    border: 0.5px solid var(--button-bg);
    margin-bottom: 40px;

}

.box-p{
    padding-left: 25.17px;
    padding-right: 24.39px;
    padding-top: 22px;
    padding-bottom: 23px;
    color: var(--main-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

    .box-span{
        color: var(--button-bg);
    }

    .img-expertise-one{
        margin-bottom: 20px;
        
    }

    .p-text-expertise-one{
        color: var(--text);
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        margin-bottom: 20px;
    }

    .img-expertise-two{
         margin-bottom: 20px;
    }

    .p-text-expertise-two{
        color: var(--text);
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
       
    }


/* -----img-----
-----img-----
-----img----- */



@media screen and (max-width:768px){
    .img-expertise-tab {
        display: none;
    }
    .img-expertise-desk {
        display: none;
    }



    .img-expertise-two-tab{
        display: none;
    }

    .img-expertise-two-desk{
        display: none;
    }
    
}
@media screen and (min-width:768px) and (max-width:1400px){
    .img-expertise-one {
        display: none;
    }
    .img-expertise-desk {
        display: none;
    }


    .img-expertise-two{
        display: none;
    }

    .img-expertise-two-desk{
        display:none;
    }
}
@media screen and (min-width:1400px){
    .img-expertise-one {
        display: none;
    } 
    .img-expertise-tab {
        display: none;
    }


    .img-expertise-two{
        display: none;
    }

    .img-expertise-two-tab{
        display:none;
    }
}




/* ------Tablet-----
------Tablet-----
------Tablet----- */


    @media screen and (min-width :768px) {
            .our-expertise{
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 14px;
            }

            .title-expertize{
                font-size: 30px;
                line-height: 37px;
                margin-bottom: 23px;
                padding-right: 279px;
            }

            .p-text-expertise{
                margin-bottom: 70px;

            }
            
            .video-class{
                background-size: cover;
                background-repeat: no-repeat;
                width: 769px;
                margin-bottom: 70px;
            }

            .box-expertise{
                border: 1px solid var(--button-bg);

                margin-bottom: 70px;
             }

             .box-p{
                padding-left: 60.03px;
                padding-right: 58.43px;
                padding-top: 37px;
                padding-bottom: 38px;
                font-weight: 400;
                font-size: 18px;
                line-height: 160%;
            }

            .img-and-p-ul{
                display: flex;
                justify-content: space-around;
                width: 688px;
                height: 620px;
            }

            .img-and-p-li-one{
                justify-content: space-around;

            }

            .img-expertise-tab, .img-expertise-two-tab{
                margin-bottom: 30px;
            }

            .p-text-expertise-one{
                margin-bottom: 0;
            }
        }
       