.footer-ul{
    
}

.footer-li{
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: var(--text);
}

.footer-ul-text{

}

.footer-li-text{
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        color: var(--text);
}


.footer-span{
        font-family: 'Work Sans';
        font-weight: 300;
        font-size: 18px;
        line-height: 160%;
        color: var(--text);
}


.footer-hr{
        border: 1px solid #3A3A3A;
}

.footer-div-one{

}



.footer-ul-svg{
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
}

.footer-li-svg{
        margin-right: 31px;
}
.footer-li-svg:nth-child(5){
         margin-right: 0;
}

.footer-svg-icon{

}

.footer-p{
        font-weight: 300;
        font-size: 12px;
        line-height: 1.25;
        color: var(--main-text);
        justify-content: center;
        text-align: center;
}





/* ------------------------------------------------------------- */

@media screen and (min-width: 768px){
    .footer-div-one{
        display: flex;
        justify-content: space-between;
    }

    .footer-p{
        font-weight: 300;
        font-size: 12px;
        line-height: 1.25;
        color: var(--main-text);
    }

    .footer-ul-svg{
        display: flex;
       }
}
    



/* -------------------------------------- */

@media screen and (min-width:1268px){



}
    


