.project {
padding-top: 42px;
padding-bottom: 111px;
}
.prj-title {
font-weight: 700;
font-size: 24px;
line-height: 30px;
color: var(--main-text);
margin-bottom: 20px;

}
.prj-list {
    display: flex;
    gap: 29px;
    align-items: center;
    margin-bottom: 10px;
}
.prj-link {
font-family: 'Work Sans';
font-weight: 600;
font-size: 12px;
line-height: 14px;
color: var(--main-text);
}
.ntn {
font-style: italic;
font-weight: 600;
font-size: 12px;
line-height: 15px;
display: block;
width: 99px;
height: 10px;


color: #929292;
}
.prj-photo {
        flex-wrap: wrap;
    display: flex;
    column-gap: 7px;
    
}
.prj-p {
    position: relative;
    bottom: 32px;
    left: 12px;
    font-weight: 700;
font-size: 15px;
line-height: 20px;

color: var(--main-text);
}

/* ================================================================== */
/* ================================================================== *//* ================================================================== *
/* ================================================================== */
@media screen and (max-width:768px){
    .prj-photo-tablet {
        display: none;
    }
}
@media screen and (max-width:1400px){
    .prj-photo-desk {
        display: none;
    }
}


@media screen  and (min-width: 768px){
    .prj-photo {
        display: none;
    }
    .project {
padding-top: 100px;
padding-bottom: 115px;
}
.prj-tabl {
    display: flex;
    margin-bottom: 25px;
    align-items: center;
}
.prj-title {
    font-size: 30px;
    line-height: 37px;
    line-height: 37px;
    margin-bottom: 0;
    margin-right: auto;
}
.prj-photo-tablet {
    display: flex;
    gap: 10px;
}
.prj-list {
    margin-bottom: 0;
}
}




@media screen and (min-width: 1400px){
    .prj-photo-tablet {
        display: none;
    }
       .project {
padding-top: 124px;
padding-bottom: 181px;
}
.prj-title {
    font-size: 48px;
line-height: 69px;
}
.prj-link {
  font-size: 16px;
line-height: 21px;
}
.ntn {
    width: 135px;
    height: 100%;
}
.prj-tabl {
   padding-left: 270px;
    padding-right: 110px;
        align-items: center;
        margin-bottom: 78px;
}
.prj-photo-desk {
    display: flex;
    gap: 29px;
}
.prj-p {
    font-size: 30px;
line-height: 40px;
bottom: 65px;
    left: 40px;
}
.prj-list {
    margin-bottom: 0;
}

}











/* =================================================================================== */

/* =================================================================================== */

/* =================================================================================== */













.li-prj {
   transform: perspective(600px) rotateY(0deg) ;
   opacity: 1;
   transition: transform var(--transition);
   max-height: 186px;
}


.overley{
    position: relative;
    bottom: 111%;
    padding-top: 14px;
    padding-bottom: 9px;
    padding-left: 9px;
    
    background-color: var(--button-bg);
    max-width: 140px;
    max-height: 186px;
    transform: perspective(600px) rotateY(180deg);
    opacity: 0;
}
.li-prj:hover{
    transform: perspective(600px) rotateY(-180deg) ;
    
}
.li-prj:hover>.overley{
    /* transform: perspective(600px) rotateY(0deg) ; */
    opacity: 1;
}
.li-prj:hover>.img-hov{
    
    opacity: 0;
}
.li-prj:hover>.prj-p{
    
    opacity: 0;
}

.text-prj {

margin-top: 11px;
margin-bottom: 19px;

width: 122px;
height: 94px;


font-family: 'Work Sans';

font-weight: 400;
font-size: 10px;
line-height: 12px;

color: #272727;
}
.see {
    font-family: 'Work Sans';

font-weight: 700;
font-size: 12px;
line-height: 14px;



color: #272727;
}
.card-prj {
    font-weight: 700;
font-size: 18px;
line-height: 22px;

color: #272727;
}

/* =================================================================================== */

/* =================================================================================== */

/* =================================================================================== */
@media screen and (min-width:768px) {
    .li-prj {
        
   transform: perspective(600px) rotateY(0deg) ;
   opacity: 1;
   transition: transform var(--transition);
   max-height: 165px;
}
.li-prj:hover{
    transform: perspective(600px) rotateY(-180deg) ;
    
}
.li-prj:hover>.overley{
    /* transform: perspective(600px) rotateY(0deg) ; */
    opacity: 1;
}
.li-prj:hover>.img-hov{
    
    opacity: 0;
}
.li-prj:hover>.prj-p{
    
    opacity: 0;
}
.overley{
    position: relative;
    bottom: 146%;
    padding-top: 17px;
    padding-bottom: 13px;
    padding-left: 11px;
    
    background-color: var(--button-bg);
    max-width: 165px;
    max-height: 220px;
    /* transform: perspective(600px) rotateY(180deg); */
    opacity: 0;
}
.text-prj {
    font-size: 12px;
line-height: 14px;
width: 129.49px;
height: 112px;
margin-top: 18px;
margin-bottom: 22px;
}
.see {
    font-size: 12px;
line-height: 14px;
}

    
    
}
@media screen and (min-width:1400px) {
    .li-prj {
        
   transform: perspective(600px) rotateY(0deg) ;
   opacity: 1;
   transition: 1.25s;
   max-height: 436px;
}
.li-prj:hover{
    transform: perspective(600px) rotateY(-180deg) ;
    
}
.li-prj:hover>.overley{
    /* transform: perspective(600px) rotateY(0deg) ; */
    opacity: 1;
}
.li-prj:hover>.img-hov{
    
    opacity: 0;
}
.li-prj:hover>.prj-p{
    
    opacity: 0;
}
.overley{
    position: relative;
    bottom: 110%;
    padding-top: 46px;
    padding-bottom: 28px;
    padding-left: 30px;
    
    background-color: var(--button-bg);
    max-width: 304px;
    max-height: 403px;
    /* transform: perspective(600px) rotateY(180deg); */
    opacity: 0;
}
.text-prj {
 font-size: 22px;
line-height: 26px;
width: 300px;
height: 112px;
margin-top: 80px;
margin-bottom: 100px;
}
.see {
font-size: 20px;
line-height: 23px;
}
.card-prj {
    font-size: 32px;
line-height: 45px;
}

    
    
}